@import "jeet"
@import "rupture"
@import url('https://fonts.googleapis.com/css?family=Raleway')

*
  box-sizing border-box
  position relative
  font-family 'Raleway'
.main
  column(1)
.container
  center(1024px)
  margin-top 100px
  header
    column(1)
    padding: 10px
    button
      button green
      margin-left: 50px
  section
    column(1)
    .list
      font-size: 1.2em
      color: gray
      column(6/9)
      border-top: 1px  solid gray
    .summary
      column(3/9)
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75)
      height: 300px
      padding: 15px
      span
        float: right
        font-weight: bold
        font-size: 1.4em
        color red

.list-row
  column(1)
  padding: 15px 0px
  padding-bottom: 0px
  .item
    column(2/4)
  .quantity
    column(1/4)
    text-align:center
  .price
    column(1/4)

    text-align:center
.bottomline
  border-bottom: 1px  solid gray
.item-list
  inline-list()
.price-text
  color: black
.item-content
  column(1)
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
  height: 50px
  border 1px solid gray
.item-img
  column(1/12)
  height: 100%
  padding: 15px
.item-name
  column(9/12)
  padding: 15px
.item-remove
  column(1/12)
  padding: 15px 0px
  icon-x(20px, orange, 5px)
  cursor: pointer
.quantity-content
  column(1)
  h1
    column(1/4)
    font-size: 1.5em
    margin: 0px
    cursor: pointer
  input
    column(2/4)
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
    font-size: 1.5em
    height:50px
.order
  position: absolute
  width: 100%
  bottom: -16px
  left: 0
  height: 50px
  background: silver
.modal
  position: absolute
  width: 0%
  height: 0%
  opacity: 0
  margin-top: 25%
  margin-left: 10%
  box-shadow: -3px -5px 5px 0px rgba(212,212,212,1)
  z-index: 1
  border-top: 50px solid maroon
  background: silver
  padding: 10px
  color: marron
  text-align:center
  button
    button: maroon
