@import "jeet"
@import "rupture"
@import url('https://fonts.googleapis.com/css?family=Raleway')

*
  box-sizing border-box
  position relative
  font-family 'Raleway'
body
  background: #06beb6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
.container
  center(1024px)
  margin-top 100px
  margin-top 20vh
.login-main
  center(480px)
  height 400px
  background: white
  padding: 50px
.login-heading
  column(1)
  font-size: 1.5em
.login-input
  column(1)
  height: 50px
  font-size: 1.2em
  padding: 20px
  :focus
    box-shadow 0px 0px 0px -200px rgba(0, 0, 0, 0.75)
    border: 0px white
.error-field
  field-error()
.login-button
  column(1)
  glossy-button()
  background: blue
  margin-top: 50px
.login-button-two
  column(1/2)
  glossy-button()
  background: blue
  margin-top: 50px
.gallary-container
  column(1)
  background: white
  height: 720px
  box-shadow: -2px 0px 28px 6px rgba(0,0,0,0.75)
  padding: 100px
  overflow: scroll
.login-username
  column(1)
  text-align: right
  padding: 5px
  background: silver
  margin-bottom: 30px
  padding-right: 30px
.user-icon
  font-size: 2em
  position: absolute
  bottom: 10px
.flash
  flash: 'error'
.gallary-tile
  column(1/3,$cycle:3)
  box-shadow: -2px 0px 28px -5px rgba(0,0,0,0.75)
  padding: 20px
  height: 350px
  margin-bottom: 50px
  span
    column(1)
  img
    column(1)
    height: 75%
  button
    column(1)
    glossy-button()
.add-tile
  cursor: pointer
  border-width:3px
  border-color: green
  border-style:dashed
  h1
    color: green
    text-align center
    margin-top: auto
.modal
  position: absolute
  width: 0%
  height: 0%
  opacity: 0
  margin-top: 5%
  margin-left: 25%
  box-shadow: -3px -5px 5px 0px rgba(212,212,212,1)
  z-index: 1
  border-top: 50px solid maroon
  background: silver
  padding: 10px
  color: marron
  button
    button: maroon
.model-second
  column(1/4)
  margin-top: 20px
  text-align: right
.modal-row
  column(1)
